.card-container {
  max-width: 1200px;
  padding: 40px;
  text-align: center;
  margin: 0 auto;
}
.card-container h2 span {
  font-size: 32px;
  color: #00aca9;
  font-weight: bold;
  border-bottom: 3px solid #00aca9;
  border-radius: 5px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
  place-items: center; /* Centers items horizontally and vertically */
}

